#root {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }